!!!
%html
  %head
    %title StartupPlatformProject
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        .navbar-brand= link_to "Startup Exchange", "#"
        .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Link", "#"
        %li= link_to "Link", "#"
  = yield
